/* Estiliza o corpo da página */
body {
    font-family: Arial, sans-serif; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: aqua; 
    background-image: url("img1.webp"); 
    background-size: cover; 
    background-position: center;
}

/* Estiliza a tela de login */
.tela_de_login {
    background-color: white; 
    padding: 30px 40px; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px #444; 
    text-align: center; 
}

/* Estiliza os campos de entrada (input) dentro da tela de login */
.tela_de_login input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

/* Estiliza o botão dentro da tela de login */
.tela_de_login button {
    width: 100%; 
    padding: 10px; 
    background-color: #4CAF50;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

/* Altera a cor do botão quando o mouse passa sobre ele */
.tela_de_login button:hover {
    background-color: #ccc; 
}
